<div class="container">
<img src="{{user?.profile_picture}}" class="profile-image" id="image" width="60%">
<h1>{{user?.username}}</h1>
<h6>{{user?.email}}</h6>
<h6 class="color">{{user?.description}}</h6>
<br>
<h6>birthday: {{user?.birthday}}</h6>
<h6>Joined in: {{user?.created_at}}</h6>


<br>

<h6>FOLLOWERS</h6>
<img *ngFor="let user of followers" src="{{user.profile_picture}}" width="60%" class="follow-image" [routerLink]="['/user',user?.username]">

<br>
<h6>FOLLOWING</h6>
<img *ngFor="let user of following" src="{{user.profile_picture}}" width="60%" class="follow-image" [routerLink]="['/user',user?.username]">

<br>
<h6>TEAMS</h6>
<div *ngIf="currentUser?.username!=user?.username && currentUser!=null"><!--si estamos logueados y no somos el usuario de este perfil-->
<button *ngIf="!alreadyFollowing" mat-button class="Follow" (click)="followUser()">Follow User</button><!--si no seguimos al usuario-->
<button *ngIf="alreadyFollowing" mat-button class="Follow" (click)="unfollowUser()">Unfollow User</button><!--si no seguimos al usuario-->
<button mat-button class="Follow" (click)="sendMessage()">Send message</button>
</div>
</div>

