<div class="infoDraw">

  <img src="{{animation.imagePath}}" class="image" id="image" width="60%">


  <div class="container">
  <h1>{{animation.name}}</h1>
  <h6>Made by <a [routerLink]="['/user',animation.author]">{{animation.author}}</a></h6>
  {{animation.mark}}
  <h6>
      {{animation.synopsis}}

  </h6>
</div>
<div *ngIf="currentUser?.username==comic?.author">
<button mat-menu-item class="watchButton1" (click)="goToEpisodesList()">READ</button>
<button mat-menu-item class="watchButton2" (click)="deleteAnimation()">DELETE</button>
</div>
<div *ngIf="currentUser?.username!=comic?.author">
<button mat-menu-item class="watchButton" (click)="goToEpisodesList()">READ</button>
</div>