<div class="infoDraw">

  <img src="{{animation.portada}}" class="image" id="image" width="60%">


  <div class="container">
  <h1>{{animation.name}}</h1>
  <h6>Made by <a [routerLink]="['/user',animation.author]">{{animation.author}}</a></h6>
  {{animation.mark}}
  <h6>textolargo textolargo textolargo textolargo textolargo 
      textolargo textolargo textolargo textolargo textolargo 
      textolargo textolargo textolargo textolargo textolargo 
      textolargo textolargo textolargo textolargo textolargo  
      textolargo textolargo textolargo textolargo textolargo 
      textolargo textolargo textolargo textolargo textolargo 
      textolargo textolargo textolargo textolargo textolargo 

  </h6>
  </div>
  <button mat-menu-item class="watchButton">WATCH</button>
  </div>