<div class="container">
  <img src="{{team?.profile_picture}}" class="profile-image" id="image" width="60%">
  <h1>{{team?.username}}</h1>
  <h6>{{team?.email}}</h6>
  <h6 class="color">{{team?.description}}</h6>
  <br>
  <h6>Joined in: {{team?.created_at}}</h6>
  
  
  <br>
  
  <h6>FOLLOWERS</h6>
  <img *ngFor="let user of followers" src="{{user.profile_picture}}" width="60%" class="follow-image" [routerLink]="['/user',user?.username]">

  
  <br>
  <h6>MEMBERS</h6>
  <div class="member" *ngFor="let user of teamUsers">
    <div *ngIf="user.admin"> 
      <img src="{{user._user.profile_picture}}" width="60%" class="follow-image" [routerLink]="['/user',user?.user]" 
      style="
          border: 5px solid #fbdf6f;
          border-radius: 5px;
      "
      
      >
      <div class="desc">
      <p style="color:#fbdf6f">{{user.user}}</p>
      <p>{{user.role}}</p>
      </div>
    </div>


  <div *ngIf="!user.admin"> 
      <img src="{{user._user.profile_picture}}" width="60%" class="follow-image" [routerLink]="['/user',user?.user]">
      <div class="desc">
      <p style="color:#fbdf6f69">{{user.user}}</p>
      <p>{{user.role}}</p>
      </div>
    </div>
      <p>Joined in: {{user.created_at}}</p>



</div>

  <div *ngIf="currentUser?.username!=user?.username && currentUser!=null"><!--si estamos logueados y no somos el usuario de este perfil-->
  <button *ngIf="!alreadyFollowing" mat-button class="Follow" (click)="followUser()">Follow Team</button><!--si no seguimos al usuario-->
  <button *ngIf="alreadyFollowing" mat-button class="Follow" (click)="unfollowUser()">Unfollow Team</button><!--si no seguimos al usuario-->
  </div>
  </div>
  
  