@bg-color : #fbdf6f;

.image{
    margin: 10px;
    border: 3px solid @bg-color;
    border-radius: 10px;
    height: 100%;
    width: auto;
    display: block;
}

/* Container holding the image and the text */
.container {
    padding: 13px;
    height: 400px;
    width: auto;
    display: inline-block;
        

}

/* Bottom right text */
.text-block {
    position: absolute;
    margin-top: -50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    font-size: 10px;
}