
        <div class="topnav">
          <span></span>
          <span style="font-size:30px;cursor:pointer" class="openNav" (click)="openNav()" id="openButton">&#9776;</span>


          <span class="spacer"></span>

      <div class="toolbarButtonsDiv">
          <button mat-button class="toolbarButton" (click)="changeToDrawFilters()">Draws</button>
          <button mat-button class="toolbarButton" (click)="changeToMangaFilters()">Comics</button>
          <button mat-button class="toolbarButton" (click)="changeToAnimationFilters()">Animations</button>
          <button mat-button class="toolbarButton" (click)="changeToUserFilters()">Users</button>
          <button mat-button class="toolbarButton" (click)="changeToTeamFilters()">Teams</button>

        </div>

                <div class="search-container">
                  <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                  </form>
                </div>
              </div>


<div class="list">



    <mat-divider></mat-divider>
    <app-list-side-nav></app-list-side-nav>

<div *ngIf="option==1">
    <app-image *ngFor="let draw of draws" [draw]="draw" (click)="goToDrawDetails(draw.id)">
    </app-image>
  </div>
<div *ngIf="option==2">
    <app-comic *ngFor="let comic of comics" [comic]="comic" (click)="goToComicDetails(comic.id)"></app-comic>
</div>
<div *ngIf="option==3">
  <app-animation *ngFor="let animation of animations" [animation]="animation" (click)="goToAnimationDetails(animation.id)"></app-animation>
</div>
<div *ngIf="option==4">
  <app-user *ngFor="let user of users" [user]="user" (click)="goToProfile(user.username)"></app-user>
</div>
<div *ngIf="option==5">
    <app-team-image *ngFor="let team of teams" [team]="team" (click)="goToProfile(team.username)"></app-team-image>
  </div>




 </div>