
        <div class="topnav">
          <span></span>
          <span style="font-size:30px;cursor:pointer" class="openNav" (click)="openNav()" id="openButton">&#9776;</span>


          <span class="spacer"></span>

      <div class="toolbarButtonsDiv">
          <button mat-button class="toolbarButton" (click)="changeToDrawFilters()">Draws</button>
          <button mat-button class="toolbarButton" (click)="changeToMangaFilters()">Manga</button>
          <button mat-button class="toolbarButton" (click)="changeToAnimationFilters()">Animations</button>
          <button mat-button class="toolbarButton" (click)="changeToUserFilters()">Users</button>

        </div>

                <div class="search-container">
                  <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                  </form>
                </div>
              </div>


<div class="list">



    <mat-divider></mat-divider>
    <app-list-side-nav></app-list-side-nav>


    <app-image *ngFor="let draw of draws" [draw]="draw"></app-image>

    <app-image id="1" name="nani?" author="GOD" image="src/app/image/gandalf.gif"></app-image>  




 </div>