<div class="menu">
  <mat-toolbar color="primary" class= "toolbar">
    <mat-toolbar-row >
      <img src="src/app/toolbar-not-logged/Artchan.png">
      <span class="logo">ArtChan</span>
      <span class="logo-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu" class="toolbarButton" >Lists</button>
      <!--[matMenuTriggerFor]="menu" indica que debe abrir el #menu-->
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="button-submenu" (click)="changeToDrawFilters()">Draws</button>
        <button mat-menu-item class="button-submenu" (click)="changeToMangaFilters()">Manga</button>
        <button mat-menu-item class="button-submenu" (click)="changeToAnimationFilters()">Animations</button>
        <button mat-menu-item class="button-submenu" (click)="changeToUserFilters()">Users</button>
      </mat-menu>

      <span class="button2-spacer"></span>
      <button mat-button class="toolbarButton">Competitions</button>
      <span class="button2-spacer"></span>
      <button mat-button class="toolbarButton">Work Offers</button>
      <span class="button2-spacer"></span>
      <button mat-button class="toolbarButton">Friend's Activity</button>

      <span class="button3-spacer"></span>


      <button mat-raised-button color="accent" class="loginButtons" (click)="openLoginNav()">Log in</button>
      <span class="buttton-spacer"></span>
      <button mat-raised-button color="accent" class="loginButtons" (click)="openRegisterNav()">Sign in</button>


    </mat-toolbar-row>
  </mat-toolbar>
</div>

<app-login-side-nav></app-login-side-nav>


