/*BUTTONS===================================================================================================*/
.loginButtons {
    float: right;
    background-color: #eec262;
    color: black;
    font-family: 'Lucida Sans';
    margin-right: 20px;
    overflow: hidden;
}
.loginButtons:hover {
    float: right;
    background-color: #f3b227;
    color: black;
    font-family: 'Lucida Sans';
    margin-right: 20px;
}
.loginButtons:active {
    float: right;
    background-color: #eec21200;
    color: #fbdf6f00;
    font-family: 'Lucida Sans';
    margin-right: 20px;
}

.toolbarButton{
    font-family: 'Lucida Sans';
    font-size: 125%;
    color: #383838;
    padding: 15px 0px 15px 0px;
    min-width: 220px;


}
.toolbarButton:hover{
    font-family: 'Lucida Sans';
    font-size: 125%;
    color: #383838;
    background-color: #f0cd45;
    padding: 15px 0px 15px 0px;
    min-width: 220px;
}



/*MENU=================================================================================================================*/

.logo{
    font-family: 'Lucida Sans';
    font-size: 200%; 
    color: rgb(250, 160, 43);
}

.toolbar {
    background-color: #fbdf6f;
    color: black;
    font-family: 'Lucida Sans';
    /*background-image: url("image.png");*/
}

.menu{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;


}


/*SPACERS=======================================================================================*/
.button-spacer {
    display: inline;
    padding: 10px;
}

.button2-spacer {
    display: inline;
    padding: 00px;
}

.button3-spacer {
    display: inline;
    padding: 300px;

}

.logo-spacer {
    display: inline;
    padding: 20px;
}