<div class="menu">
  <mat-toolbar color="primary" class= "toolbar">
    <mat-toolbar-row >
      <span class="logo">ArtChan</span>
      <span class="logo-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu" class="toolbarButton" >Lists</button>
      <!--[matMenuTriggerFor]="menu" indica que debe abrir el #menu-->
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="button-submenu">Draws</button>
        <button mat-menu-item class="button-submenu">Manga</button>
        <button mat-menu-item class="button-submenu">Animations</button>
        <button mat-menu-item class="button-submenu">Users</button>
      </mat-menu>

      <span class="button2-spacer"></span>
      <button mat-button class="toolbarButton">Competitions</button>
      <span class="button2-spacer"></span>
      <button mat-button class="toolbarButton">Work Offers</button>
      <span class="button2-spacer"></span>
      <button mat-button class="toolbarButton" (click)="openSideBar()">Friend's Activity</button>

      <span class="button3-spacer"></span>


      <button mat-raised-button color="accent" class="loginButtons">Log in</button>
      <span class="buttton-spacer"></span>
      <button mat-raised-button color="accent" class="loginButtons">Sign in</button>


    </mat-toolbar-row>
  </mat-toolbar>


</div>