
<div id="sn" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" id="closeButton">&times;</a>



<div *ngIf="login"><!--when login is true, this form is showed-->
  <H3>LOGIN</H3>
  <mat-divider></mat-divider>
  <span class="spacer"></span>
  <form (submit)="loginUser($event)"><!--no refresh no actualiza la pagina al hacer submit-->
    Username:<br>
    <input type="text" name="name" id="username"><br>
    Password:<br>
    <input type="password" name="pass" id="password">
    <button mat-menu-item class="buttonSubmit" value="Submit">Done</button>
  </form>
</div>

<div *ngIf="register">
  <H3>SIGN IN</H3>
  <mat-divider></mat-divider>
  <span class="spacer"></span>
  <form (submit)="registerUser($event)">
    Username:<br>
    <input type="text" name="name" id="name"><br>
    Email:<br>
    <input type="text" name="email" id="email"><br>
    Password:<br>
    <input type="text" name="pass" id="pass">
    Repeat Password:<br>
    <input type="text" name="rpass" id="rpass">

    <button mat-menu-item class="buttonSubmit">Done</button>
  </form>
</div>


</div>


