
<div id="sn" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" id="closeButton">&times;</a>



<div *ngIf="!register"><!--when login is true, this form is showed-->
  <H3>LOGIN</H3>
  <mat-divider></mat-divider>
  <span class="spacer"></span>
  <form (submit)="loginUser(f)" #f="ngForm" required><!--no refresh no actualiza la pagina al hacer submit-->
    Username:<br>
    <input type="text" name="username" id="username" ngModel class="form-control">
    Password:<br>
    <input type="text" name="password" id="password" ngModel class="form-control">
    <button mat-menu-item class="buttonSubmit" value="Submit">Done</button>
  </form>
</div>

<div *ngIf="register">
  <H3>SIGN UP</H3>
  <mat-divider></mat-divider>
  <span class="spacer"></span>
  <form (ngSubmit)="registerUser(f)" #f="ngForm" required>
    Username:<br>
    <input type="text" name="username" id="username" ngModel class="form-control">
    Email:<br>
    <input type="email" name="email" id="email" ngModel class="form-control">
    Password:<br>
    <input type="text" name="password" id="password" ngModel class="form-control">
    Repeat Password:<br>
    <input type="text" name="rpass" id="rpass" ngModel class="form-control">

    <button mat-menu-item class="buttonSubmit" [disabled]="!f.valid">Sign up</button><!--si no es valido, el boton esta desactivado-->
  </form>
</div>


</div>


