<div class=chapter>
  <p class="name">Create Chapter</p>
  <img src="src/assets/add.png" class="image" id="image" width="100%" (click)="openForm()">
    </div>
    

    <!-- The Modal -->
<div id="myModal5" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="closeForm()">&times;</span>
      </div>
  
      <form (ngSubmit)="uploadChapter(f)" #f="ngForm" required>
      <div class="modal-body" id="chapter-modal-body">
  
  
          Name:<br>
          <input type="text" name="name" id="name" ngModel class="form-control"><br>
          Number:<br>
          <input type="text" name="number" id="number" ngModel class="form-control"><br>

          <input type="file" class="inputFile" (change)="fileChange($event)" placeholder="Upload Page" accept=".jpg,.jpeg,.png" id="inputPage">

          <span></span>
          <button type="button" mat-menu-item class="buttonSubmit" (click)="removePage()">Remove Page</button>

          <p *ngFor="let file of fileList">{{file.name}}</p>
        <br>


  
        </div>
          <div class="modal-footer">
            <button mat-menu-item class="buttonSubmit">Upload Episode</button>
          </div>
        </form>
  
    </div>
  
  </div>
  
  