
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <H3>SORT OPTIONS</H3>
  <button mat-menu-item class="button-submenu">TOP RATED</button>
  <button mat-menu-item class="button-submenu">TOP POPULAR (all time)</button>
  <button mat-menu-item class="button-submenu">TOP POPULAR (this year)</button>
    <button mat-menu-item class="button-submenu">TOP POPULAR (this month)</button>
</div>

<span style="font-size:30px;cursor:pointer" class="openNav" (click)="openNav()" >&#9776;</span>
