<div class="infoDraw">

    <img src="{{comic?.ImagePath}}" class="image" id="image" width="60%">
  
  
    <div class="container">
    <h1>{{comic?.name}}</h1>
    <h6>Made by <a [routerLink]="['/user',comic?.author]">{{comic?.author}}</a></h6>
    {{animation.mark}}
    <h6>textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo  
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
  
    </h6>
    </div>
    <button mat-menu-item class="watchButton" (click)="goToEpisodesList()">READ</button>
    </div>