<div class="infoDraw">
        <div class="mark">
                        <h1>{{comic?.name}}</h1>
                                        </div>

<img src="{{comic?.image_path}}" class="image" id="image">

<div class="mark">
                                <!--si estamos logueados y no somos el creador de la publicacion mostramos nuestro voto y podemos votar -->
                                <div class="right" *ngIf="currentUser?.username!=null && currentUser?.username!=comic?.author">
                                                <p> YOUR SCORE </p>
                                                <select id="scoreSelect" class="select_score" [ngModel]="userScore" (ngModelChange)="onChange($event)" name="sel2">
                                                        <option [value]="1">1 (Appalling)</option>
                                                        <option [value]="2">2 (Horrible)</option>
                                                        <option [value]="3">3 (Very bad)</option>
                                                        <option [value]="4">4 (Bad)</option>
                                                        <option [value]="5">5 (Average)</option>
                                                        <option [value]="6">6 (Fine)</option>
                                                        <option [value]="7">7 (Good)</option>
                                                        <option [value]="8">8 (Very good)</option>
                                                        <option [value]="9">9 (Great)</option>
                                                        <option [value]="10">10 (Materpiece)</option>
                                                </select>
                                                 </div>    
                <div class="right">
                               <p> SCORE </p>
                                {{score}}
                        </div>

                        <!-- <div class="right">
                                        <p>Ranked</p>
                                         #1099
         
                                 </div> -->
                                 <div class="right">
                                                <p>Views</p>
                                                 {{visits}}
                                                 <!-- <button mat-menu-item class="rate" >RATE</button> -->
                 
                                         </div>
                                         <!-- <div class="right">
                                                        <p>Popularity</p>
                                                        #122
                         
</div> -->
</div>



    <div class="container">

    <h6>Made by <a [routerLink]="['/user',comic?.author]">{{comic?.author}}</a></h6>
    <h6>
     {{comic?.descripcion}}
    </h6>
</div>
    <div *ngIf="isCurrentUser"><!--si eres el creador-->
    <button mat-menu-item class="watchButton1" (click)="goToChaptersList()">READ</button>
    <button mat-menu-item class="watchButton2" (click)="deleteComic()">DELETE</button>
    </div>
    <div *ngIf="currentUser?.username==null">
    <button mat-menu-item class="watchButton" (click)="goToChaptersList()">READ</button><!--si no estas logeado-->
    </div>
    <div *ngIf="currentUser?.username!=null && !isCurrentUser"><!--si no eres el creador pero estas logeado-->
            <button mat-menu-item class="watchButton1" (click)="goToChaptersList()">READ</button>
    </div>