<div class="container">
  <img src="src/assets/add.png" class="image" id="image" width="100%" (click)="openForm()">
</div>


<!-- The Modal -->
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeForm()">&times;</span>
    </div>

    <form (ngSubmit)="uploadDraw(f)" #f="ngForm" required>
    <div class="modal-body">


        Name2:<br>
        <input type="text" name="username" id="username" ngModel class="form-control">
        Description:<br>
        <input type="text" name="username" id="username" ngModel class="form-control">
        Tags:<br>
        <button mat-menu-item class="Tag">Tag1</button>
        <button mat-menu-item class="Tag">Tag1</button>
        <button mat-menu-item class="Tag">Tag1</button>
        <button mat-menu-item class="Tag">Tag1</button>
      <br>
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg">
      <br>

      </div>
        <div class="modal-footer">
          <button mat-menu-item class="buttonSubmit">Upload Draw</button>
        </div>
      </form>

  </div>

</div>

