.container{
    background-color: #4e4e4e;
    color:black;
    margin-top: 64px;
    width:100vw !important; /*this*/
    height:93vh;
    overflow-y: scroll;
}
.messages{
    margin-bottom: 100px;
}

.inputMessage{
    position: absolute;
    bottom: 10px;
    display: inline;
}
.input{
    margin:auto;
}
.button{
    background-color: lighten(#4e4e4e,10%)
}