<div class= "container">
<h2>Comments</h2>
<div class="comment">
<app-comment *ngFor="let comment of comments" [comment]=comment [currentUser]=currentUser>
    </app-comment>
</div>
</div>
<div *ngIf="currentUser != null"><!--Si no estamos logeados no podemos escribir comentario-->
<form (ngSubmit)="postComment(f)" #f="ngForm" required>
        <input type="text" name="text" id="text" ngModel class="form-control" placeholder="Write a comment">
        <button mat-menu-item class="buttonSubmit" [disabled]="!f.valid">Comment</button><!--si no es valido, el boton esta desactivado-->
      </form>
    </div>