@bg-color : #fbdf6f;
@bg-color2 : #303030;
@topBar-color : #f0e2a2;
@button-color : #eec262;
@bg-color-darken : darken(@topBar-color ,20%);
@text-color : rgb(255, 255, 255);

.container{
    margin-top: 40px;
    float:left;
    background-color: #707070;
    height:1000px;
    margin:10px;
}
h2{
    color: @bg-color;
    background-color: #535353;
}