
.item {
    width: 1850px;
    min-height: 1000px;
    max-height: auto;
    background-color: #fbdf6f6e;
    position: fixed; /* or absolute */
    top: 10%;
    left: 50%;
    margin-left: -925px;/*  - width/2  */

}