<div class="item">

        <div class="topnav">
                <div class="search-container">
                  <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                  </form>
                </div>
              </div>

    <mat-divider></mat-divider>
    <app-list-side-nav></app-list-side-nav>


    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>
    <app-image></app-image>

 </div>