@bg-color : #fbdf6f;
@bg-color2 : #303030;
@topBar-color : #f0e2a2;
@button-color : #eec262;
@bg-color-darken : darken(@topBar-color ,20%);
@text-color : rgb(255, 255, 255);

.image{
    display: inline;
}

.infoDraw{


    background: #535353;

    overflow: visible;
    width: 1800px;
    height: auto;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    padding: 10px;
    
}
.container{
    display: inline;
}

h1{
    color: @bg-color;
}
h6{
    color: white;
}
a{
    color: @bg-color;
}