    <!--
    Imagen
    details->(name, vis, comments number, author(details), puntuacion)
    Comments
    Recomended draws (for later)
    -->

    <div class="infoDraw">
    <img src="{{draw.ImagePath}}" class="image" id="image" width="60%">

    <div class="container">

    <h1>{{draw.name}}</h1>
    <h6>Made by <a href="">{{draw.author}}</a></h6>
    {{draw.mark}}
    <h6>textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
        textolargo textolargo textolargo textolargo textolargo 
    </h6>
    </div>

    </div>