    <!--
    Imagen
    details->(name, vis, comments number, author(details), puntuacion)
    Comments
    Recomended draws (for later)
    -->

    <div class="infoDraw">

    <img src="{{draw?.imagePath}}" class="image" id="image">


    <div class="container">
    <h1>{{draw?.name}}</h1>
    <h6>Made by <a [routerLink]="['/user',draw?.author]">{{draw?.author}}</a></h6>
    {{draw?.mark}}
    <h6>
    {{draw?.descripcion}}
    </h6>
    </div>
    <div *ngIf="currentUser?.username==draw?.author">
        
            <button mat-menu-item class="watchButton" (click)="deleteDraw()">DELETE</button>
            </div>
    </div>