<div *ngIf="notification?.type==1" class=notification>


  <div class="user">
    <img class="profilePic" src={{notification?.user_image}} (click)="openUser()">
  <p class="profileName" (click)="openUser()">
    {{notification?.username}}
  </p>

  <p class="text">
      uploaded a new Draw 
  </p>
  <p class="time">
      at {{notification?.time.date}}
  </p>
</div>

  <p class="name">
    {{notification?.name}}
  </p>
<img src={{notification?.image}} class="image">
  <button mat-menu-item class="watchButton" (click)="openDraw()">Comment</button>
</div>



<div *ngIf="notification?.type==2" class=notification>
    <div class="user">
        <img class="profilePic" src={{notification?.user_image}} (click)="openUser()">
      <p class="profileName" (click)="openUser()">
        {{notification?.username}}
      </p>
    
      <p class="text">
          uploaded a new Chapter of <a [routerLink]="['/comic',notification.parent_id]">{{notification?.parent_name}}</a>
      </p>
      <p class="time">
          at {{notification?.time.date}}
      </p>
    </div>
    <p class="name">
        {{notification?.name}}
      </p>
<img src={{notification?.image}}>
  <button mat-menu-item class="watchButton" (click)="openChapters()">Read</button>
</div>



<div *ngIf="notification?.type==3" class=notification>
    <div class="user">
        <img class="profilePic" src={{notification?.user_image}} (click)="openUser()">
      <p class="profileName" (click)="openUser()">
        {{notification?.username}}
      </p>
    
      <p class="text">
          uploaded a new Episode of <a [routerLink]="['/animation',notification.parent_id]">{{notification?.parent_name}}</a>
      </p>
      <p class="time">
          at {{notification?.time.date}}
      </p>
    </div>
    <p class="name">
        {{notification?.name}}
      </p>
<img src={{notification?.image}}>
  <button mat-menu-item class="watchButton" (click)="openEpisodes()">Watch</button>
</div>

