
        <div class="topnav">
            <span></span>
            <span style="font-size:30px;cursor:pointer" class="openNav" (click)="openNav()" id="openButton">&#9776;</span>
  
  
            <span class="spacer"></span>
  
        <div class="toolbarButtonsDiv">
            <button mat-button class="toolbarButton" (click)="changeToPublicChats()">Public Chats</button>
            <button mat-button class="toolbarButton" (click)="changeToPrivateChats()">Private Chats</button>
            <button mat-button class="toolbarButton" (click)="changeToTeamChats()">Team Chats</button>
  
          </div>
  
                  <div class="search-container">
                    <form action="/action_page.php">
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit">Submit</button>
                    </form>
                  </div>
                </div>
  
  
  <div class="list">
  
  
  
      <mat-divider></mat-divider>
      <app-list-side-nav></app-list-side-nav>
  <div *ngIf="option==1 || option==3" >
      <app-chat-rooms-chat *ngFor="let chat of chats" [chat]="chat" [private]="false"></app-chat-rooms-chat>
  </div>
  <div *ngIf="option==2" >
      <app-chat-rooms-chat *ngFor="let chat of chats" [chat]="chat" [private]="true" [currentUser]="currentUser"></app-chat-rooms-chat>
  </div>
      <app-new-private-chat *ngIf="option==2"></app-new-private-chat>
      <app-new-public-chat *ngIf="option==1"></app-new-public-chat>
  