<nav>
    <app-toolbar-not-logged></app-toolbar-not-logged>
  </nav>

<div class="container">
      <form (submit)="editImage(f)" #f="ngForm" required><!--no refresh no actualiza la pagina al hacer submit-->
        Change your profile Image:<br>
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg">
        <button mat-menu-item class="buttonSubmit" value="Submit">Done</button>
      </form>
    </div>

        <div class="container">
        <form (submit)="editDesc(f)" #f="ngForm" required><!--no refresh no actualiza la pagina al hacer submit-->
        Change your description:<br>
        <input type="text" name="desc" id="desc" ngModel class="form-control">
        <button mat-menu-item class="buttonSubmit" value="Submit">Done</button>
      </form>


</div>