<div class=episode>
<p class="number">
{{episode.number}}.
</p>
<p class="name">
{{episode.name}}
</p>
<button mat-menu-item class="watchButton" (click)="openVideo()" id=button{{episode.id}}>Watch</button>
<button mat-menu-item ng-if="isCurrentUser" class="watchButton" (click)="deleteEpisode()">Delete</button>
</div>

<div id=video{{episode.id}} class="video">
    <video width="800" controls>
        <source src={{episode.video_path}} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>