
<!-- [style.background]="'url(' + image + ')'"-->
<!--poner imagen del grupo en el container del chat-->
<div class="container" [style.background]="'url(' + image + ')'">
  <div class="name">
{{chat?.name}}
</div>
<div class="desc">
  {{chat?.description}}
</div>
<button mat-button class="button" (click)="openChat()">OPEN CHAT</button>
<form (ngSubmit)="addMember(f)" #f="ngForm" required>
<input type="text" *ngIf="private" name="member" ngModel>
<button *ngIf="private" mat-button class="button">ADD MEMBER</button>
</form>
</div>


