<div class="container">
  <img src="src/assets/add.png" class="image" id="image" width="100%" (click)="openForm()">
</div>


<!-- The Modal -->
<div id="myModal1" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeForm()">&times;</span>
    </div>

    <form (ngSubmit)="uploadDraw(f)" #f="ngForm" required>
    <div class="modal-body">


        Name:<br>
        <input type="text" name="name" id="name" ngModel class="form-control">
        Description:<br>
        <input type="text" name="desc" id="desc" ngModel class="form-control">
        Tags:<br>
        <mat-checkbox class="radio-margin" *ngFor="let filter of filters" name={{filter}} 
        (click)="toggleSelection(filter,$event)">
          {{filter}}
        </mat-checkbox>
      <br>
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg">
      <br>

      </div>
        <div class="modal-footer">
          <button mat-menu-item class="buttonSubmit">Upload Draw</button>
        </div>
      </form>

  </div>

</div>

