<div class="item">
<div class=notification>
    <div class="user">
      <img class="profilePic" src={{team?.profile_picture}} (click)="openUser()">
    <p class="profileName" (click)="openUser()">
      {{team?.username}}
    </p>
  
    <p class="text">
      {{team?.description}}
    </p>

  </div>



  </div>
  
  <div class="members">
      <p class="membersText">
          MEMBERS
        </p>
        <div *ngFor="let member of members">
          <hr>
            <div *ngIf="member.admin" 

            class="member"> 
            <img class="memberPic" src={{member?._user.profile_picture}}             style="
            border: 5px solid #fbdf6f;
            border-radius: 5px;"  (click)="openUser()">

            <p class="memberName" (click)="openUser()">
                {{member?.user}}
              </p>
              <p class="memberText">{{member?.role}}</p>
              <!--solo si soy administrador o soy el usuario-->
              <button 
              *ngIf="isAdmin || currentUser?.username==member?.user" 
              mat-menu-item class="memberButton" (click)="removeUser(member)">REMOVE</button>


              <div *ngIf="currentUser?.username==member?.user" class="rolediv">
              <form (ngSubmit)="editRole(f,member)" #f="ngForm" required>
              <button 
              mat-menu-item class="memberButton">EDIT ROLE</button>
              <input type=text id="role" name="role" ngModel>
            </form>
            </div>


        </div>


        <div *ngIf="!member.admin" class="member"> 
        <img class="memberPic" src={{member?._user.profile_picture}} (click)="openUser()">

        <p class="memberName" (click)="openUser()">
            {{member?.user}}
          </p>
          <p class="memberText">{{member?.role}}</p>

<!--solo si soy administrador o soy el usuario-->
          <button 
          *ngIf="isAdmin || currentUser?.username==member?.user" 
          mat-menu-item class="memberButton" (click)="removeUser(member)">REMOVE</button>
          <button *ngIf="isAdmin" mat-menu-item class="memberButton" (click)="promoteToAdmin(member)">PROMOTE TO ADMIN</button>


          <div *ngIf="currentUser?.username==member?.user" class="rolediv">
                          <form (ngSubmit)="editRole(f,member)" #f="ngForm" required>
          <button 
          mat-menu-item class="memberButton">EDIT ROLE</button>
          <input type=text id="role" name="role" ngModel>
        </form>
                          </div>  
                        </div>  
                      </div>  
                      <hr>
    <div *ngIf="isAdmin">
    <form (ngSubmit)="addMember(f)" #f="ngForm" required>
<div class="addMemberDiv">
  <div class="addMemberInput">
    Username: <input type="text" name="member" id="member" ngModel >
  </div>
    <button mat-menu-item class="addMember">ADD MEMBER</button><!--si no es valido, el boton esta desactivado-->
  </div>

</form>
</div>


</div>