
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" id="closeButton">&times;</a>
  <H3>SEARCH</H3>
  <mat-divider></mat-divider>
  <div class="search-container">
      <input type="text" placeholder="Search.." name="search" (keyup)="onKey($event)">
  </div>


  <H3>SORT</H3>
  <mat-divider></mat-divider>
  <button mat-menu-item class="button-submenu" (click)="getNew()">NEW</button>
  <button mat-menu-item class="button-submenu" (click)="orderByScore()">TOP RATED</button>
  <button mat-menu-item class="button-submenu" (click)="orderByVisits()">TOP POPULAR (all time)</button>
  <span class="spacer"></span>

  <H3>FILTERS</H3>
  <mat-divider></mat-divider>
  <mat-checkbox class="radio-margin" *ngFor="let filter of filters" name={{filter}} 
  (change)="toggleSelection(filter,$event)">
    {{filter}}
  </mat-checkbox>

</div>